data/20180619_MBL_deltaABR_0.005mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_2.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_3.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_2.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_0.5mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_1mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_20mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_2mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_5mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_0.75mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_0mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_deltaABR_0mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_0mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_10mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_0mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_8mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_2mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_0.1mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_1.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_3.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_wt_4mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_0.25mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_0.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_4mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_deltaABR_0.05mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaABR_10ngmlATC_0mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_0.05mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_0mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaABR_10ngmlATC_0mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_0.25mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_deltaABR_1mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_wt_0.05mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_5mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_0.75mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_6mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_8mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_3mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_1mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_4mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_wt_1mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_15mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_0.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_1.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_deltaABR_3mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_20mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaABR_10ngmlATC_2mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_deltaABR_4mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_2mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_deltaABR_0.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_wt_0.5mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_0.5mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_1mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_4mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_6mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_1mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180619_MBL_wt_0.005mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_10mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_15mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20180628_MBL_wt_3mgmLXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_0.1mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_proximal_deltaAB_10ngmlATC_3mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_0.05mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
data/20190205_wt_deltaAB_10ngmlATC_4mgmlXAN.csv filter=lfs diff=lfs merge=lfs -text
